{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
    <style>
       body{
          background-image: url("https://images.pexels.com/photos/9754/mountains-clouds-forest-fog.jpg?cs=srgb&dl=pexels-creative-vix-9754.jpg&fm=jpg");
          size-adjust: auto;
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
          
       }
   </style>

 </head>

    <!-- Header - set the background image for the header in the line below-->
    <header class="py-5 bg-image-full" style="background-size: cover; background-repeat: no-repeat; background-image: url('https://images.squarespace-cdn.com/content/v1/55cb4361e4b08dc9aca88339/1576909999307-I3TT8J70E84AFU7DDXHE/Drone-Forest-After-Post-Processing.jpg');">
        <div class="text-center my-5">
            <img class="img-fluid rounded-circle mb-4" style="width: 50%; size-adjust: auto;" src="https://media.istockphoto.com/photos/equipment-necessary-for-mountaineering-and-hiking-picture-id493439588?s=612x612" alt="...">
            <h1 class="text-white fs-3 fw-bolder"><strong>Alpine, are you ready for the adventure?</strong></h1>
            <p class="text-white-50 mb-0">We prepare groups of adventureres, solos and even professionals with everything they need</p>
        </div>
    </header>

    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Who are we?</h2>
                    <p class="lead">We are a group of people passionate like you, capable of preparing byou for every kind of journey on every kind of mountain</p>
                    <p class="mb-0">The mountain is a very demanding place, you need physical training, strong will and good equipment, let us help you with the last one</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Image element - set the background image for the header in the line below-->
    <div class="py-5 bg-image-full" style="size-adjust: auto; background-position: center; background-size: cover; background-repeat: no-repeat; background-image: url('https://outdoorgearlab-mvnab3pwrvp3t0.stackpathdns.com/photos/24/42/365716_7096_XXL.jpg');">
        <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
        <div style="height: 20rem"></div>
    </div>

    <!-- Content section-->
    <section class="py-5">
        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2 style="color:white">Our Products</h2>
                    <p class="lead" style="color:white">The equipment we make are made from the best materials available on the market put together with our well-known abilities and experience</p>
                    <p class="mb-0" style="color:white">The material are selected carefully, along with the people who work with to ensure quality, reliability and resistence to stress and intensive use</p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}