<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Alpine</title>
    <!-- Favicon --> 
    <link rel="shortcut icon" type="img/png" href="{% static 'favicon.png' %}">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="description" content="Mountain Equipment">
    <meta name="author" content="Alpine">

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Core theme CSS (includes Bootstrap)-->
    <!--<link href="css/styles.css" rel="stylesheet">-->

    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name)
        {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');

    </script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
            <!-- logo -->
            <img src="{% static 'favicon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Alpine Logo">
            Alpine
          </a>
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="{% url 'store' %}">Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'sleeping_bags' %}">Sleeping bags</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'jackets' %}">Jackets</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'accessories' %}">Accessories</a></li>
                        </ul>
                    </li>
                </ul>
                <a style="color: inherit" href="{% url 'cart' %}">
                <div class="d-flex">
                    <button class="btn btn-outline-light" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-white text-dark ms-1 rounded-pill">{{order.cart_total_elements}}</span>
                    </button>
                </div>
        </div>
            <a style="color: inherit;" href="#!">
                <div class="d-flex">
                    <button class="btn btn-outline-light" type="submit">
                        Register/Login
                    </button>
                </div>
            </a>
        </div>
    </nav>

    <!-- Section-->

    <hr>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>

    
    <!-- Footer-->
    <div>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright © Alpine 2022</p></div>

            <div class="social p-4 text-center">
                <a href="https://www.youtube.com/watch?v=GBIIQ0kP15E">
                <img class="me-2" width="45px" src="https://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19750.png" alt="Facebook"></a>
                
                <a href="https://www.youtube.com/watch?v=GBIIQ0kP15E">
                <img class="me-2" width="45px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram"></a>
                
                <a href="https://www.youtube.com/watch?v=GBIIQ0kP15E">
                <img class="me-2" width="45px" src="https://mailmeteor.com/logos/assets/PNG/Gmail_Logo_512px.png" alt="Gmail"></a>
                
                <a href="https://www.youtube.com/watch?v=GBIIQ0kP15E">
                <img class="me-2" width="45px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" alt="LinkedIn">               
               </div>
            
            <ul class="list-inline text-md-right" style="position: relative; right: 40px;">
                <li class="list-inline-item"><a style="color:white;" href="https://youtu.be/L5DyJXQdUcM?t=4">Terms</a></li>
                <li class="list-inline-item"><a style="color:white;" href="https://youtu.be/L5DyJXQdUcM?t=4">Privacy Policy</a></li>
            </ul>

        </footer>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <!--
    <script src="js/scripts.js"></script>-->

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>
</html>