{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
    <style>
       body{
          background-image: url("https://img.freepik.com/premium-photo/clean-white-snow-closeup-winter-background-snow-surface-fresh-fluffy-white-snow-texture_262708-2844.jpg?w=2000");
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
       }
   </style>
</head>

<body>
    <h3>Payment</h3>
</body>
{% endblock content %}