{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
   <style>
      body{
         background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg");
         background-position: center; /* Center the image */
         background-repeat: no-repeat; /* Do not repeat the image */
         background-size: cover; /* Resize the background image to cover the entire container */
      }
  </style>
</head>

<body>
      <!-- Header-->
      <header class="bg-dark py-5" style="opacity: 0.7;">
         <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
               <h1 class="display-4 fw-bolder">Store</h1>
               <p class="lead fw-normal text-white-50 mb-0">Here you can find any product we have currently in stock</p>
            </div>
         </div>
   </header>
      <!-- Section-->
      <section class="py-5">
         <div class="container px-4 px-lg-5 mt-5">
               <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Product image-->
                           <img class="card-img-top" style = "height: 50%;" src="https://www.grand-froid.fr/4369-thickbox_default/reversible-winter-hiking-jacket-for-women.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Medium Altitude Jacket</h5>
                                 <!-- Product price-->
                                 $40.00 - $60.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="https://nahanny.com/330-large_default/sac-cu-puf-nahanny-alpin.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Sleeping Bag Alpin</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">$200.00</span>
                                 $180.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
                  
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="https://nahanny.com/324-large_default/jacheta-cu-puf.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Heavy Jacket</h5>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">$100.00</span>
                                 $75.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Product image-->
                           <img class="card-img-top" src="https://static.fibre2fashion.com/MemberResources/LeadResources/7/2019/6/Buyer/19164667/Images/19164667_0_camping-sleeping-bag.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Light Sleeping Bag</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 $100.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" style = "height: 50%;" src="https://cdn.shopify.com/s/files/1/0231/8024/7118/products/ME-005029_Lhotse_Jacket_ME-01567_Anvil-Grey_Black_Colourpop_1252x1852.png?v=1601984916" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Light Jacket</h5>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">$75.00</span>
                                 $50.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Product image-->
                           <img class="card-img-top" src="https://contents.mediadecathlon.com/p411498/9f2f1513b7bbc9802087e45b907b368c/p411498.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Light Hammock</h5>
                                 <!-- Product price-->
                                 $120.00 - $150.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Sale badge-->
                           <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                           <!-- Product image-->
                           <img class="card-img-top" src="https://m.media-amazon.com/images/I/71qaS1PlGOL.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Heavy Hammock</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 <span class="text-muted text-decoration-line-through">$200.00</span>
                                 $250.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
                  <div class="col mb-5">
                     <div class="card h-100">
                           <!-- Product image-->
                           <img class="card-img-top" src="https://i.pinimg.com/originals/89/80/31/8980319491881cd6317f5f95f0d3f107.jpg" alt="...">
                           <!-- Product details-->
                           <div class="card-body p-4">
                              <div class="text-center">
                                 <!-- Product name-->
                                 <h5 class="fw-bolder">Basic Camping Sleeping Bag</h5>
                                 <!-- Product reviews-->
                                 <div class="d-flex justify-content-center small text-warning mb-2">
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                       <div class="bi-star-fill"></div>
                                 </div>
                                 <!-- Product price-->
                                 $75.00
                              </div>
                           </div>
                           <!-- Product actions-->
                           <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </section>
   </body>
{% endblock content %}
